@import "../../../sass/variables";

.document-template {
  width: 100%;
  background-color: color(primary);
  margin: 0 0 1em 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  height: 4em;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  span {
    margin-left: 20px;
    color: color(secondary);
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
  }
  .document-id {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: stretch;
  }
  .document-firstName {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: stretch;
  }
  .document-lastName {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: stretch;
  }
  .document-openClaim {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: stretch;
  }
  .download {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: stretch;
    border-left: solid 0.1em color(secondary);
    cursor:pointer;
    &:hover {
      background: color(primary-highlight);
    }
    span {
      justify-content: center;
    }
  }

}
