<div class="document-template">
  <div class="document-id">
    <span>{{ documentInterface? documentInterface.id : 'ID'}}</span>
  </div>
  <div class="document-firstName">
    <span>{{ documentInterface? documentInterface.firstName : 'firstName' }}</span>
  </div>
  <div class="document-lastName">
    <span>{{ documentInterface? documentInterface.lastName : 'lastName' }}</span>
  </div>
  <div class="document-openClaim">
    <span>{{ documentInterface? documentInterface.openClaim : 'openClaim' }}</span>
  </div>
  <div class="download" (click)="downloadDocument()">
    <span>Download Document</span>
  </div>
</div>
