<div class="document-template">
  <div class="document-id">
    <span>{{ documentInterface.id }}</span>
  </div>
  <div class="document-firstName">
    <span>{{ documentInterface.firstName }}</span>
  </div>
  <div class="document-lastName">
    <span>{{ documentInterface.lastName }}</span>
  </div>
  <div class="document-openClaim">
    <span>{{ documentInterface.openClaim }}</span>
  </div>
  <div class="download" (click)="downloadDocument()">
    <span>Download Document</span>
  </div>
</div>
